<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="at.ac.tuwien.tracker.android"
    android:versionCode="1"
    android:versionName="1.0" >

    <!-- SDk Version -->
    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="15" />
    

    <!-- Permissions -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.ACCESS_MOCK_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />

    <!-- Application Definition -->
    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >

    	<uses-library android:name="com.google.android.maps"/>
    
        <!-- Activities -->
        <!-- ListActivities -->
        <activity
            android:name="at.ac.tuwien.tracker.android.MainActivity"
            android:label="@string/title_activity_main" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="at.ac.tuwien.tracker.android.listmenu.RaceActivity"
            android:label="@string/title_activity_race" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="at.ac.tuwien.client.android.MainActivity" />
        </activity>
        <activity
            android:name="at.ac.tuwien.tracker.android.listmenu.SocialActivity"
            android:label="@string/title_activity_social" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="at.ac.tuwien.client.android.MainActivity" />
        </activity>
        <activity
            android:name="at.ac.tuwien.tracker.android.listmenu.StatisticsActivity"
            android:label="@string/title_activity_stats" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="at.ac.tuwien.client.android.MainActivity" />
        </activity>
        <!-- ListActivities end -->

        <activity
            android:name="at.ac.tuwien.tracker.android.serverConnection.BasicStatisticsActivity"
            android:label="@string/title_activity_stats" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="at.ac.tuwien.tracker.android.listmenu.StatisticsActivity" />
        </activity>
        <activity
            android:name="at.ac.tuwien.tracker.android.serverConnection.RegisterActivity"
            android:label="@string/title_activity_register" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="at.ac.tuwien.client.android.MainActivity" />
        </activity>

        <!-- GPS Logger -->

        <service android:name="at.ac.tuwien.tracker.android.GpsLoggingService" >
            <intent-filter>
                <action android:name="at.ac.tuwien.tracker.android.GpsLoggingService" />
            </intent-filter>
        </service>

        <activity
            android:name="at.ac.tuwien.tracker.android.GpsMainActivity"
            android:configChanges="locale"
            android:label="@string/app_name"
            android:launchMode="singleTask" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="at.ac.tuwien.tracker.android.GpsSettingsActivity"
            android:label="@string/settings_screen_name"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="at.ac.tuwien.tracker.android.senders.email.AutoEmailActivity"
            android:label="@string/autoemail_title"
            android:screenOrientation="portrait" >
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />

                <action android:name="at.ac.tuwien.tracker.android.AUTOEMAIL_SETUP" />
            </intent-filter>
        </activity>
        <activity
            android:name="at.ac.tuwien.tracker.android.senders.server.AutoUploadActivity"
            android:label="@string/autoupload_title"
            android:screenOrientation="portrait" >
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />

                <action android:name="at.ac.tuwien.tracker.android.AUTOUPLOAD_SETUP" />
            </intent-filter>
        </activity>
        <activity
            android:name=".shortcuts.ShortcutCreate"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" >
            <intent-filter>
                <action android:name="android.intent.action.CREATE_SHORTCUT" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".shortcuts.ShortcutStart"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
            </intent-filter>
        </activity>
        <activity
            android:name=".shortcuts.ShortcutStop"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
            </intent-filter>
        </activity>

        <receiver
            android:name="at.ac.tuwien.tracker.android.StartupReceiver"
            android:enabled="true"
            android:permission="android.permission.RECEIVE_BOOT_COMPLETED" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>
        <receiver android:name="at.ac.tuwien.tracker.android.senders.AlarmReceiver" />

        <activity
            android:name="at.ac.tuwien.tracker.android.serverConnection.AddFriendActivity"
            android:label="@string/title_activity_add_friend" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="at.ac.tuwien.tracker.android.listmenu.SocialActivity" />
        </activity>
        
         <activity
            android:name="at.ac.tuwien.tracker.android.serverConnection.FriendRequestsActivity"
            android:label="@string/title_friendrequests" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="at.ac.tuwien.tracker.android.listmenu.SocialActivity" />
        </activity>
        
         <activity
            android:name="at.ac.tuwien.tracker.android.serverConnection.features.WhereWasIActivity"
            android:label="@string/title_wherewasi" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="at.ac.tuwien.client.android.MainActivity" />
        </activity>
        
          <activity
            android:name="at.ac.tuwien.tracker.android.serverConnection.features.ListNearUsersActivity"
            android:label="@string/title_listNearUsers" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="at.ac.tuwien.client.android.MainActivity" />
        </activity>
        
         <activity android:name="at.ac.tuwien.tracker.android.serverConnection.features.HelloGoogleMaps"
             	   android:label="MAPS"
             	   android:theme="@android:style/Theme.NoTitleBar">
         </activity>
         
    </application>

        
  

</manifest>